*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #181818;
}

body.no-scroll,
body.show-sidebar {
  overflow: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  overflow: hidden;
}

.page__title {
  margin-bottom: 3rem;
  font-size: 2.1rem;
  line-height: 1;
  color: #fff;
}

.page__title--mb {
  margin-bottom: 6rem;
}

.main {
  margin: auto 0;
  padding: 10rem 0 8rem 30rem;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.embed,
.fr-video {
  display: block;
  position: relative;
  overflow: hidden;
}

.embed::before,
.fr-video::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: calc(100% - 30rem);
  height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #0D0D0D;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
}

.nav--mobile {
  display: none;
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  background-color: #0D0D0D;
  color: #fff;
  transition: background-color 0.2s linear;
}

.nav__link {
  display: block;
  height: 4rem;
  padding: 1.2em 1.36em;
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.3;
  color: inherit;
}

.nav__sublist {
  width: 16.5rem;
  padding: 1rem 1.4rem 1.2rem;
  background-color: #3137C9;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 5px 5px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(50%);
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.nav__subitem:not(:last-child) {
  margin-bottom: 1rem;
}

.nav__sublink {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #fff;
  color: inherit;
}

.nav__sublink:hover {
  text-decoration: underline;
}

.arrow {
  width: 1rem;
  height: 0.5rem;
  display: block;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  transform: translate(0, -50%);
}

.burger {
  width: 3rem;
  height: 2rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  z-index: 1;
  transform: translateY(-50%);
}

.burger span {
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  transition: background-color 0.2s linear;
}

.burger span::before,
.burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  position: absolute;
  background-color: #fff;
  transition: transform 0.2s linear;
}

.burger span::before {
  top: 0%;
}

.burger span::after {
  bottom: 0;
}

.show-sidebar .burger span {
  background-color: transparent;
}

.show-sidebar .burger span::before,
.show-sidebar .burger span::after {
  top: 50%;
}

.show-sidebar .burger span::before {
  transform: rotate(45deg);
}

.show-sidebar .burger span::after {
  transform: rotate(-45deg);
}

.searth {
  background-color: #202020;
}

.searth__input {
  display: block;
  min-width: 21rem;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #fff;
}

.searth__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searth__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searth__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.sidebar {
  width: 30rem;
  height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  box-shadow: 5px 0px 15px rgba(5, 5, 5, 0.1);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.sidebar__header {
  height: 18rem;
}

.sidebar__header img {
  display: block;
  width: 100%;
  height: 100%;
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  margin-top: -5.5rem;
  padding: 0 2rem;
}

.sidebar__user {
  margin-bottom: 2.5rem;
}

.sidebar__user-photo {
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
}

.sidebar__user-name {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.3;
}

.sidebar__user-text {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #DEDEDE;
}

.sidebar__text {
  padding: 3rem 0;
  border-top: 1px solid #1C1C1C;
  border-bottom: 1px solid #1C1C1C;
  font-size: 1.2rem;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.social {
  display: flex;
  justify-content: center;
}

.social__link {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.social__link img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social__link:not(:last-child) {
  margin-right: 1rem;
}

.social__link:hover {
  transform: translateY(5%);
}

.btn {
  display: inline-block;
  padding: 1em 1.75em;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3;
  box-shadow: 0px 0.6em 1.5em -0.9em rgba(242, 63, 63, 0.2);
  border-radius: 2em;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.btn:hover {
  opacity: 0.8;
}

.btn--red {
  background-color: #ED3024;
  box-shadow: #ED3024;
}

.btn--blue {
  background-color: #3137C9;
  box-shadow: #3137C9;
}

.btn--big {
  min-width: 12rem;
}

.btn--sm {
  padding: 0.7em 1.2em;
  border-radius: 0.4em;
}

.stories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (14rem)[4];
  grid-template-columns: repeat(4, 14rem);
  -ms-grid-rows: 19.5rem;
  grid-template-rows: 19.5rem;
  gap: 1.3rem;
  overflow: auto;
  margin-bottom: 3rem;
}

.stories__item {
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.4em;
  position: relative;
}

.stories__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.stories__preview {
  display: block;
  max-width: 100%;
  height: auto;
}

.stories__info {
  height: 100%;
  padding: 1.4rem 1.7rem 1.4rem 1.3rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.add-post {
  margin-bottom: 3rem;
  padding: 1.7rem 2rem 1.7rem 3rem;
  background-color: #121212;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.45);
  border-radius: 0.35em;
}

.add-post__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-post__text {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  padding: 0;
  border: none;
  background: none;
  resize: none;
  font-size: 1.5rem;
  line-height: 2;
  color: #d2d2d2;
}

.add-post__actions {
  width: 10rem;
  display: flex;
  align-items: center;
}

.add-post__file,
.add-post__send {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.add-post__file {
  margin-right: 1rem;
  background-color: #EBEBEB;
}

.add-post__file input {
  display: none;
}

.add-post__send {
  background-color: #3137C9;
}

.post {
  overflow: hidden;
  padding: 2.5rem;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 0.35em;
}

.post:not(:last-child) {
  margin-bottom: 3rem;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.post__actions-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  opacity: 0.6;
}

.post__actions-item img {
  margin-left: 1rem;
}

.post__actions-item:hover {
  text-decoration: underline;
  opacity: 1;
}

.post__header {
  margin-bottom: 2rem;
}

.post__header img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.post__header .embed {
  border-radius: 0.35em;
}

.post__header--preview {
  margin: -2.5rem -2.5rem 2.5rem;
}

.post__title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
}

.post__title--mb0 {
  margin-bottom: 0;
}

.post__title--title {
  margin-bottom: 0.5rem;
}

.post__subtitle {
  margin-bottom: 1.5rem;
  font-size: 1.6em;
  font-weight: 500;
}

.post__text-prev {
  font-size: 1.4rem;
  color: #d2d2d2;
}

.post__text {
  font-size: 1.4rem;
  color: #d2d2d2;
}

.post__text p {
  margin-bottom: 3rem;
}

.post__text img {
  display: block;
  max-width: 100%;
  height: auto;
}

.post__text ul,
.post__text ol {
  list-style-position: inside;
  margin-bottom: 2rem;
}

.post__text ul ul,
.post__text ul ol,
.post__text ol ul,
.post__text ol ol {
  padding-left: 1.5rem;
  margin-bottom: 0;
}

.post__text ol > li {
  list-style: decimal;
  list-style-position: inside;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.post__data {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #828282;
}

.post__data li:not(:last-child) {
  display: flex;
  align-items: center;
}

.post__data li:not(:last-child)::after {
  content: "";
  display: inline-block;
  margin: 0 1rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: #C4C4C4;
}

.post__data a:hover {
  text-decoration: underline;
}

.post__read {
  font-size: 1.4rem;
  line-height: 1.2;
  color: #107EFF;
}

.post__read:hover {
  text-decoration: underline;
}

.pagenav {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.pagenav__item {
  padding: 0.85em 1.2em;
  background-color: #0D0D0D;
  border-radius: 0.5em;
  transition: background-color 0.2s linear;
}

.pagenav__item:not(:last-child) {
  margin-right: 1rem;
}

.pagenav__item:hover {
  background-color: rgba(16, 126, 255, 0.4);
}

.pagenav__item.this-page {
  background-color: #107EFF;
}

.related {
  margin-bottom: 3rem;
  padding: 3rem 0 0.5rem;
  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}

.related__list {
  display: flex;
  flex-wrap: wrap;
}

.related__list-item {
  width: 50%;
  margin-bottom: 2.5rem;
}

.related__name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
  color: #F3EBA2;
}

.related__name:hover {
  text-decoration: underline;
}

.related__date {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #828282;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__group {
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.form__field {
  width: 100%;
  padding: 1rem 0;
  display: block;
  border: none;
  border-bottom: 1px solid #3F3F3F;
  background: none;
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #fff;
}

.form__field--textarea {
  overflow: hidden;
  height: 30px;
  padding: 0.5rem 0;
  resize: none;
}

.form__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__field::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.form__field:focus + .form__line {
  width: 100%;
}

.form__line {
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #107EFF;
  transition: width 0.2s linear;
}

.form__footer {
  margin-top: 1rem;
}

.form__footer--center {
  margin: 1rem auto 2rem;
}

.comments {
  margin-top: 5rem;
}

.comments > .comments {
  margin-top: 3rem;
}

.comments > .comments .comments__item {
  padding-left: 3rem;
}

.comments__author {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.comments__author-left {
  margin-right: 1.5rem;
}

.comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.comments__author-right {
  line-height: 1.5;
}

.comments__name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.comments__date {
  font-size: 1.2rem;
  font-weight: 400;
  color: #757575;
}

.comments__text {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #fff;
}

.comments__reply {
  font-size: 1.2rem;
  color: #107EFF;
}

.comments__reply:hover {
  text-decoration: underline;
}

.work {
  display: flex;
  overflow: hidden;
  background-color: #202020;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 0.35em;
}

.work:not(:last-child) {
  margin-bottom: 3rem;
}

.work__left {
  width: 50%;
}

.work__left img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.work__title {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 1.1;
  font-weight: 500;
  color: #fff;
}

.work__text {
  max-height: 28rem;
  margin-bottom: 3rem;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #d2d2d2;
}

.work__tags {
  display: flex;
  flex-wrap: wrap;
}

.work__tags-item {
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem;
  background-color: #EA8C1E;
  border-radius: 0.3rem;
  font-size: 1.1em;
  line-height: 1.2;
  color: #fff;
}

.work__tags-item:not(:last-child) {
  margin-right: 1rem;
}

.work__wrap {
  margin-top: auto;
  margin-left: auto;
  max-width: 13rem;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__left {
  width: 100%;
  max-width: 35rem;
  padding-right: 1rem;
}

.profile__right {
  max-width: 15rem;
}

.profile__photo {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 1.2;
  color: #107EFF;
  text-decoration: underline;
}

.profile__photo img {
  margin-bottom: 1rem;
}

.profile__photo input {
  display: none;
}

.profile__photo:hover {
  text-decoration: none;
}

.sign {
  max-width: 28rem;
  margin: 0 auto;
  text-align: center;
}

.sign__footer {
  display: flex;
  justify-content: center;
}

.sign__footer-item {
  margin: 0 0.5rem;
}

.sign__footer-item a:hover {
  text-decoration: underline;
}

.modal {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal.show-modal {
  display: flex;
}

.modal__content {
  max-width: 50rem;
  padding: 8rem;
  position: relative;
  background-color: #202020;
  border-radius: 0.35em;
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
}

.modal__content--contact {
  padding-bottom: 2.5rem;
}

.modal__content--story {
  padding: 0;
  background: none;
}

.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  cursor: pointer;
}

.modal__close img {
  transition: transform 0.3s linear, opacity 0.3s linear;
  opacity: 0.6;
}

.modal__close:hover img {
  transform: scale(1.3);
  opacity: 1;
}

.modal__footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.modal__footer-item {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #B3B3B3;
}

.modal__footer-item a {
  text-decoration: underline;
}

.modal__footer-item:hover a {
  text-decoration: none;
}

.modal__video {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 991px) {
  .nav__item:hover {
    background-color: #3137C9;
  }

  .nav__item:hover .nav__sublist {
    pointer-events: all;
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 991px) {
  .show-sidebar .page::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .main {
    padding-left: 0;
  }

  .header {
    width: 100%;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__item {
    text-align: left;
    background-color: transparent;
  }

  .nav__link {
    height: auto;
    padding: 0.6em 0;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 300;
  }

  .nav__sublist {
    display: block;
    padding: 0 0 2rem 2rem;
    position: static;
    pointer-events: all;
    background-color: transparent;
    box-shadow: none;
    opacity: 0.8;
    transform: translateY(0);
  }

  .nav__sublink {
    font-weight: 300;
    font-size: 1.5rem;
  }

  .nav {
    display: none;
  }

  .nav--mobile {
    display: block;
    padding-left: 1rem;
  }

  .arrow {
    width: 1.3rem;
    height: 0.7rem;
    right: 2rem;
  }

  .burger {
    display: block;
  }

  .sidebar {
    height: calc(100vh - 4rem);
    top: 4rem;
    background-color: #0D0D0D;
    transform: translateX(-100%);
    transition: transform 0.2s linear;
  }

  .show-sidebar .sidebar {
    transform: translateX(0);
  }

  .sidebar__header {
    height: 10rem;
  }

  .sidebar__content {
    margin-top: -2rem;
  }

  .sidebar__user {
    display: flex;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid #1c1c1c;
  }

  .sidebar__user-photo {
    width: 6.5rem;
    height: 6.5rem;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .sidebar__user-name {
    font-size: 1.5rem;
  }

  .sidebar__user-text {
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .sidebar__text {
    display: none;
  }

  .social--sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 6rem 0 4rem;
  }

  .container {
    max-width: 64rem;
    padding: 0 2rem;
  }

  .searth__input::-moz-placeholder {
    font-size: 1.6rem;
  }

  .searth__input:-ms-input-placeholder {
    font-size: 1.6rem;
  }

  .searth__input::placeholder {
    font-size: 1.6rem;
  }

  .post {
    padding: 1.5rem;
  }

  .work__left {
    width: 100%;
  }

  .work__right {
    width: 100%;
  }

  .work__wrap {
    margin-top: 2rem;
  }

  .work {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .page__title--mb {
    margin-bottom: 3rem;
  }

  .post:not(:last-child) {
    margin-bottom: 2rem;
  }

  .post__header--preview {
    margin: -1.5rem -1.5rem 1.5rem;
  }

  .post__text p {
    margin-bottom: 1.5rem;
  }

  .post__footer {
    flex-direction: column;
  }

  .post__data {
    margin-bottom: 1rem;
  }

  .pagenav {
    margin-top: 4rem;
  }

  .related__list {
    flex-direction: column;
  }

  .related__list-item {
    width: 100%;
  }

  .related {
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .comments > .comments .comments__item {
    padding-left: 1.5rem;
  }

  .comments > .comments {
    margin-top: 2rem;
  }

  .comments {
    margin-top: 3rem;
  }

  .work__title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .work__text {
    font-size: 1.2rem;
  }

  .profile__right {
    margin-bottom: 2rem;
  }

  .profile {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
}